<div class="row">
    <div class="col">
        <!-- Por cada servidor crearemos una tarjeta con el nombre y
        el
        estado del servidor-->
        <div class="col-sm-4">
            <a href="#" class="card mt-2" *ngFor="let server of servers; let i = index" 
            [routerLink]="['/servers', i]" [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}" 
            fragment="loading">
            <div class="card-header">{{ server.name }}</div>
        </a>
        </div>
        <div class="col-sm-4">
            <router-outlet></router-outlet>
        </div>
        <!-- <button class="btn btn-info" (click)="onReload()">Reload Servers</button> -->
    </div>
</div>
