<div class="row">
    <div class="col">
        <!-- Mostraremos una tarjeta por cada usuario -->
        <div class="card mt-2" *ngFor="let user of users">
            <div class="card-header">{{ user.name }}</div>
            <div class="card-body">
                <span><strong>User id:</strong> {{ user.id }}</span>
                <br>
                <span><strong>User email: </strong> {{ user.email }}</span>
            </div>
        </div>
        <button class="btn btn-primary" routerLink="/addUser">Add User</button>
    </div>
</div>
